@use "../../Style/Variables/mixin";

.container{
    background:var(--clr-white-100);
    padding: 24px;
    border-radius: 12px;
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
    @include mixin.md{
        padding: 40px;
    }
}