.chart__Container {
  max-width: 240px;
  margin-inline: auto;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    inset: 50%;
    background-color: rgba(255 255 255 / 25%);
    width: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}
