@use '../../Style/Variables/mixin';

.nav_ul{
    display: flex;
    justify-content: center;
    padding-inline: 16px;
    padding-block: 8px 0;
}

.link{
    font-size: 12px;
    font-weight: bold;
    line-height: 150%;
    color: var(--clr-grey-100);
    transition: all 0.3s;
    border-radius: 8px 8px 0 0;
    .text{
        display: none;
    }
    .icon{
        display: block;
        padding-inline: 22.5px;
        padding-block: 8px 12px;
        svg{
            path{
                width: 24px;
                aspect-ratio: 1;
            }
        }
    }
    
    @include mixin.lg{
        font-size:1rem;
        display:flex;
        gap: 1rem;
        align-items: center;
        padding-inline-start: 32px;
        padding-block: 1rem;
        border-radius: 0 12px 12px 0;
        margin-inline-end: 24px;
    }
}
.icon{
    svg{
        display: block;
        width: 18px !important;
        height: 19px !important;
        fill:var(--clr-grey-100);
        transition: all 0.3s;
    }
}