@use "./Variables/mixin";
@use "./Variables/vars";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: var(--sans);
  font-weight: normal;
  font-size: 1rem;
  line-height: 150%;
  background:var(--clr-beige-100);
}

a {
  text-decoration: none;
}
ul[class] {
  list-style: none;
}
button {
  background: unset;
  border: unset;
  cursor: pointer;
}
section{
  margin-block-end: 32px;
}
/* Main Header */
.main_header {
  position: fixed;
  inset: auto 0 0 0;
  background: var(--clr-grey-400);
  border-radius: 8px 8px 0 0;
  padding-block-start: 8px;
  z-index: 999;
  .text {
    white-space: nowrap;
  }
  .nav_ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .text {
      color: var(--clr-white-100);
      display: none;
      font-size: 12px;
      font-weight: bold;
      line-height: 150%;
      @include mixin.md {
        display: initial;
      }
    }
    .icon {
      color: var(--clr-grey-200);
      transition: all 0.3s;
      img {
        opacity: 0;
        width: 24px !important;
        height: 24px !important;
        object-fit: contain !important;
        display: block;
      }
    }
    a {
      padding-inline: 22.3px;
      padding-block: 8px 12px;
      display: block;
      border-radius: 8px 8px 0 0;
      border-block-end: 4px solid transparent;
      display: flex;
      align-items: center;
      flex-flow: column;
      gap: 4px;
      transition: all 1s;
      @include mixin.md {
        padding-inline: 25px;
      }
      &:hover{
        background: var(--clr-grey-300) ;
      }
      &.current {
        background: var(--clr-white-100);
        border-color: var(--clr-second-green);
        transition: all 0.3s;
        .text {
          color: var(--clr-grey-400);
        }
        .icon{
          color: var(--clr-second-green);
        }
      }
    }
  }
}
/* Main Header */
main.main_content,
.main_header,
.main_footer {
  padding-inline: 16px;
  @include mixin.md {
    padding-inline: 24px;
  }
  @include mixin.lg {
    padding-inline: 0;
  }
}

@include mixin.lg {
  main#root {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 0.2fr;
    gap: 40px;
  }
  .main_header {
    display: flex;
    flex-direction: column;
    position: relative;
    inset: unset;
    border-radius: 0 8px 8px 0;
    padding: 0 40px 0 0;
    width: 300px;
    min-height: 100svh;
    grid-row-start: 1;
    grid-row-end: -1;
    // gap: 24px;
    transition: all 0.3s;
    .burger {
      position: relative;
      .icon {
        transition: all 0.3s;
        display: block;
        position: relative;
        transform-origin: 11px 11px;
      }
      .text {
        position: absolute;
        left: 68px;
        top: 16px;
        transition: all 0.3s;
      }
    }
    a {
      width: 100%;
      .logo__large {
        clip-path: rect(0px 100% 100% 0);
        transition: all 0.3s;
        pointer-events: none;
      }
    }
    nav {
      flex-grow: 1;
    }
    .nav_ul {
      flex-flow: column;
      align-items: baseline;
      li {
        width: 100%;
      }
      a {
        flex-flow: row;
        align-items: center;
        gap: 1rem;
        padding-inline: 24px;
        padding-block: 1rem;
        width: 100%;
        border-radius: 0 8px 8px 0;
        border-block: unset;
        border-inline-start: 4px solid transparent;
        position: relative;
        &.current {
          border-inline-start-color: var(--clr-second-green);
        }
        .text {
          pointer-events: auto;
          position: absolute;
          font-size: 16px;
          inset-inline-start: 68px;
          inset-block-start: 50%;
          transform: translateY(-50%);
          opacity: 1;
          transition: all 0.3s;
        }
      }
    }
    &.header__close {
      width: 80px;
      min-width: 80px;
      padding-inline-end: 0;
      border-radius: 0;
      .nav_ul {
        a {
          width: 100%;
          border-radius: 0;
          .text {
            pointer-events: none;
            opacity: 0;
            left: 60px;
          }
        }
      }
      .logo__large {
        clip-path: rect(0px 10% 100% 0);
        pointer-events: none;
      }
      .burger {
        .icon {
          rotate: 180deg;
          transform: translate(2px, 2px);
        }
        .text {
          opacity: 0;
          left: 60px;
          pointer-events: none;
        }
      }
    }
  }
}
